.col-sm-8.custom-main-top
    <p>O szczepie
    Szczep Zielona Szóstka z Poznania działa od 1983 roku, na początku funkcjonował jako drużyna przy VII LO im. Dąbrówki, gdzie do tej pory mamy harcówkę. Dzięki dużej tendencji wzrostowej drużyna szybko przekształciła się w szczep, którego członkowie i członkinie noszą zielone chusty i pagony, na głowie chłopacy berety lub rogatywki, a dziewczyny kapelusze.
    
    W szczepie działa obecnie 5 drużyn, w których członkami są uczniowie i uczennice szkół podstawowych, gimnazjum i liceum. Jeśli szukasz drużyny dla siebie to wiedz, że:
    
    Dziupla to dziewczyny z klas 4-6
    Puzzle to chłopacy z klas 4-6
    DYSK to dziewczyny z gimnazjum
    Emillki to dziewczyny z liceum
    Pręzni to chłopacy z gimnazjum i liceum
    Każda drużyna ma co tydzień zbiórki, jeśli chcesz przyjść na następną zajrzyj do zakładki kontakt.
    
    Oprócz zbiórek jeździmy też na biwaki, organizujemy rajdy i zimowiska. Ale najważniejszą i najlepszą rzeczą jest oczywiście OBÓZ! Nasz szczep jeździ na obozy typu puszczańskiego, co oznacza spanie pod namiotem przez  3 tygodnie na samodzielnie wybudowanej pryczy, w pięknym lesie gdzie nie ma prądu, a budzi Cię śpiew ptaków, lub gwizdek oboźnego.
    
    Do tej pory udało Nam się zorganizować obozy w takich miejscach – MAPA
    
    Ziel6na bo tak zwykliśmy siebie nazywać to szczep działający w Hufcu „Siódemka”, gdzie Nasi instruktorzy i instruktorki cieszą się nieposzlakowaną opinią.
    
    Aktualnie funkcję szczepowej pełni pwd. Martyna Rochatka HR, a jej zastępczynią jest pwd. Hanna Kulczak HO.
    
    Należałoby także napisać jak wspaniałym Ziel6na jest środowiskiem i jak dobrze bawimy się już od 30 lat, ale w to z pewnością nie uwierzycie dopóki Nas nie poznacie. Dlatego zapraszamy serdecznie, na pewno w tym tygodniu jest jakaś zbiórka lub biwak, a może właśnie wybieramy się na zimowisko?
    </p>

.col-sm-4.panel.panel-success.custom-main-top
    = render 'layouts/facebook_plugin'