.container massages: /admin is working
.col-sm-9.posts-list
  - @posts.each do |post|
    %div.post-item{data: { id: post.id }}
      %p= post.title
      %p= post.body
.col-sm-3
  TEKST TEKST TEKST TEKST TEKST TEKST TEKST TEKST TEKST TEKST
.col-sm-9
  %button.btn.btn-success.load-more-button{:type => "button"} Load More  
    