%div.posts-list
  - @posts.each do |post|
    %div.post-item.panel.panel-success{data: { id: post.id }}
      %p.panel-heading= post.title
      %p.panel-body= post.body
%button.btn.btn-success.load-more-button{:type => "button"} Load More