.container massages: /admin is working
.container
  .col-sm-9
    - @posts.each do |post|
      %div
        %p= post.title
        %p= post.body
    %button.btn.btn-success{:type => "button", :onclick => "Loadmore()"} Load More  
  .col-sm-3
    TEKST TEKST TEKST TEKST TEKST TEKST TEKST TEKST TEKST TEKST
    