%div.panel.panel-success
    %div.panel-heading
        %h4 PRZYDATNE!
    %div.panel-body
        %img{:alt => "Ups, coś poszło nie tak", :src => "http://zielona6.pl/wp-content/uploads/2013/04/30lecieZiel6nej-002.jpg", :style =>"width:100%"}
        %p Szczep Zielona Szóstka z Poznania działa od 1983 roku, na początku funkcjonował jako drużyna przy VII LO im. Dąbrówki, gdzie do tej pory mamy harcówkę. Dzięki dużej tendencji wzrostowej drużyna szybko przekształciła się w szczep, którego członkowie i członkinie noszą zielone chusty i pagony, na głowie chłopacy berety lub rogatywki, a dziewczyny kapelusze.
        
        %p W szczepie działa obecnie 5 drużyn, w których członkami są uczniowie i uczennice szkół podstawowych, gimnazjum i liceum. Jeśli szukasz drużyny dla siebie to wiedz, że:
        
        %ul
            %li Gromada Zuchowa to dziewczyny i chłopacy z klas 1-3
            %li Dziupla to dziewczyny z klas 4-6
            %li Puzzle to chłopacy z klas 4-6
            %li DYSK to dziewczyny z gimnazjum
            %li Berserk to chłopacy z gimnazjum
            %li Emillki to dziewczyny z liceum
            %li Pręzni to chłopacy z liceum
            %li Każda drużyna ma co tydzień zbiórki, jeśli chcesz przyjść na następną zajrzyj do zakładki kontakt.
        
        %p Oprócz zbiórek jeździmy też na biwaki, organizujemy rajdy i zimowiska. Ale najważniejszą i najlepszą rzeczą jest oczywiście OBÓZ! Nasz szczep jeździ na obozy typu puszczańskiego, co oznacza spanie pod namiotem przez  3 tygodnie na samodzielnie wybudowanej pryczy, w pięknym lesie gdzie nie ma prądu, a budzi Cię śpiew ptaków, lub gwizdek oboźnego.
        
        %p Do tej pory udało Nam się zorganizować obozy w takich miejscach – MAPA
        
        %p Ziel6na bo tak zwykliśmy siebie nazywać to szczep działający w Hufcu „Siódemka”, gdzie Nasi instruktorzy i instruktorki cieszą się nieposzlakowaną opinią.
        
        %p Aktualnie funkcję szczepowej pełni pwd. Martyna Rochatka HR, a jej zastępczynią jest pwd. Hanna Kulczak HO.
        
        %p Należałoby także napisać jak wspaniałym Ziel6na jest środowiskiem i jak dobrze bawimy się już od 30 lat, ale w to z pewnością nie uwierzycie dopóki Nas nie poznacie. Dlatego zapraszamy serdecznie, na pewno w tym tygodniu jest jakaś zbiórka lub biwak, a może właśnie wybieramy się na zimowisko?