- content_for :breadcrumb do
    %li
        = link_to 'Lista Kategorii', admin_categories_path
    %li.active Nowa Kategoria

= render 'form', :url => admin_categories_path(@category)
W BUDOWIE NIE DZIAŁA