/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *
 */
 
 .custom-main-top{
  margin-top: 20px;
 }
 
 .custom-main-bottom{
  margin-bottom: 20px;
 }
 
 .custom-container{
  background-color: rgba(255,255,255,0.9);
 }
 
 .custom-main{
  background-image: url("/assets/background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  margin-top: -20px;
 }
 
 .custom-text{
  opacity: 0.3;
  font-size: 10px;
  animation: pulseback 1s;
  animation: growback 1s;
 }
 .custom-text:hover{
  opacity: 1.0;
  font-size: 25px;
  animation: pulse 1s;
  animation: grow 1s;
 }
 
 .custom-footer{
  margin-top: 0px;
 }
 
 .custom-icon{
  opacity: 0.1;
  animation: pulseback 1s;
  
 }
 .custom-icon:hover{
  opacity: 1.0;
  animation: pulse 1s;
 }
 
 @keyframes pulse {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1.0;
  }
 }
 
 @keyframes pulseback {
  0% {
   opacity: 1.0;
  }
  100% {
   opacity: 0.1;
  }
 }
 
 @keyframes grow{
  0% {
   font-size: 10px;
  }
  100% {
   font-size: 25px;
  }
 }
 
 @keyframes growback{
  0% {
   font-size: 25px;
  }
  100% {
   font-size: 10px;
  }
 }
  
  
