- if notice.present?
  :javascript
    noty({text: "#{notice}", timeout: 3000, layout: 'bottom', type: 'success'});
- if alert.present?
  :javascript
    noty({text: "#{alert}", timeout: 3000, layout: 'bottom', type: 'error'});